<div class="login-container">
  <mat-card>
    <mat-card-title style="text-align: center;">Login</mat-card-title>
    <br>
    <mat-card-content>
      <form (ngSubmit)="login()">
        <mat-form-field class="full-width">
          <mat-label>Usuário</mat-label>
          <input matInput [(ngModel)]="username" name="username" required />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Senha</mat-label>
          <input matInput [(ngModel)]="password" name="password" type="password" required />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </mat-card-content>
    <br>
    <a style="text-align: end;" href="" class="forgot-password">Esqueci a senha</a>
  </mat-card>
</div>
