<div *ngIf="carregando" class="spinner">
  <mat-spinner></mat-spinner>
  <br>
  Carregando...
</div>

<div *ngIf="dadosCarregados" class="container-cards">
  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-group"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">{{ 'Clientes Ativos: ' + totalEnabled}}</mat-card-title>
        <mat-card-subtitle>{{'Clientes cadastrados: ' + totalClientes}}</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-book"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">{{ 'Livros Ativos: ' + totalLivros}}</mat-card-title>
        <mat-card-subtitle>{{'Livos Cadastrados: ' + livrosHoje}}</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-money"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">{{'Vendas ' + vendas}}</mat-card-title>
        <mat-card-subtitle>{{'Vendas hoje ' + vendasHoje}}</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-checkbook"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">{{'Empréstimos: ' + emprestimos}}</mat-card-title>
        <mat-card-subtitle>{{'Empréstimos hoje: ' + EmprestimosHoje}}</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-thumbdown"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">{{'Empréstimos em Atraso: ' + emprestimosAtraso}}</mat-card-title>
        <mat-card-subtitle>{{'Total: ' + TotalDevolucoesAtraso}}</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-warning"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">{{'Empréstimos com vencimento menor que 7 dias: ' + emprestimosvencendo}}</mat-card-title>
        <mat-card-subtitle>{{'Vence hoje: ' + venceHoje}} </mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>
</div>
