<div *ngIf="loading" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<mat-card>
  <mat-card-title style="margin-left: 16px;">Livros</mat-card-title>
  <div>
    <button mat-raised-button color="primary" type="button" (click)="cadastrarLivro()">
      Novo
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-card-content>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Filtrar...</mat-label>
      <input matInput (keyup)="aplicarFiltro($event)">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container class="container" matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let livro">{{ livro.id}}</td>
      </ng-container>

      <ng-container class="container" matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
        <td mat-cell *matCellDef="let livro">{{ livro.title }}</td>
      </ng-container>

      <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor</th>
        <td mat-cell *matCellDef="let livro">{{ livro.author }}</td>
      </ng-container>

      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
        <td mat-cell *matCellDef="let livro">{{ livro.price | currency:'BRL':'symbol':'1.2-2' }}</td>
      </ng-container>

      <ng-container matColumnDef="dataLancamento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Lançamento</th>
        <td mat-cell *matCellDef="let livro">{{ livro.launchDate | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let livro">
          <button mat-icon-button color="primary" (click)="editarLivro(livro)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="excluirLivro(livro.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 50]" [length]="totalElements"
      showFirstLastButtons (page)="onPageChanged($event)">
    </mat-paginator>

  </mat-card-content>
</mat-card>
