<mat-card>
  <div class="container-lista">
    <h1>{{ cliente ? 'Editar Pessoa' : 'Cadastrar Pessoa' }}</h1>
    <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%">
      <div style="display: flex; flex-direction: column; width: 100%">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="container-lista">

            <div class="form_campos">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" maxlength="50" />
                <mat-error *ngIf="form.get('nome')?.hasError('required') && form.get('nome')?.touched">
                  O nome é obrigatório.
                </mat-error>
                <mat-hint align="end">{{ form.get('nome')?.value?.length || 0 }}/50</mat-hint>
              </mat-form-field>

            </div>

            <div class="form_campos">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Sobrenome</mat-label>
                <input matInput formControlName="sobrenome" maxlength="50" />
                <mat-error *ngIf="form.get('sobrenome')?.hasError('required') && form.get('sobrenome')?.touched">
                  O sobrenome é obrigatório.
                </mat-error>
                <mat-hint align="end">{{ form.get('sobrenome')?.value?.length || 0 }}/50</mat-hint>
              </mat-form-field>
            </div>

            <div class="form_campos">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Endereço</mat-label>
                <input matInput formControlName="endereco" maxlength="150" />
                <mat-error *ngIf="form.get('endereco')?.hasError('required') && form.get('endereco')?.touched">
                  O endereço é obrigatório.
                </mat-error>
                <mat-hint align="end">{{ form.get('endereco')?.value?.length || 0 }}/150</mat-hint>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="outline" class="campos_filtro" style="width: 30%">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo">
                  <mat-option *ngFor="let option of gender" [value]="option.value">
                    {{ option.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('sexo')?.hasError('required') && form.get('sexo')?.touched">
                  O sexo é obrigatório.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div>
            <button mat-raised-button color="primary" type="submit">{{ cliente ? 'Salvar Alterações' : 'Cadastrar'
              }}</button>
            <button mat-button (click)="onCancel()" type="button" routerLink="/clientes">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
