<mat-card>
  <div class="container-lista">
    <h1>{{ livro ? 'Editar Livro' : 'Cadastrar Livro' }}</h1>
    <div style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%">
      <div style="display: flex; flex-direction: column; width: 100%">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="container-lista">

            <div class="form_campos">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Título</mat-label>
                <input matInput formControlName="titulo" maxlength="150" />
                <mat-error *ngIf="form.get('titulo')?.hasError('required') && form.get('titulo')?.touched">
                  O título é obrigatório.
                </mat-error>
                <mat-hint align="end">{{ form.get('titulo')?.value?.length || 0 }}/150</mat-hint>
              </mat-form-field>

            </div>

            <div class="form_campos">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Selecione um autor</mat-label>
                <mat-select [(value)]="autorSelecionado">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="filtro" placeholderLabel="Buscar..."></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of autorFiltrado" [value]="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>

            <div class="form_campos">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Preço</mat-label>
                <input matInput formControlName="preco" maxlength="10" />
                <mat-error *ngIf="form.get('preco')?.hasError('required') && form.get('preco')?.touched">
                  O preço é obrigatório.
                </mat-error>
                <mat-hint align="end">{{ form.get('preco')?.value?.length || 0 }}/10</mat-hint>
              </mat-form-field>
            </div>

            <div class="form_campos">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Data Lançamento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataLancamento" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                  *ngIf="form.get('dataLancamento')?.hasError('required') && form.get('dataLancamento')?.touched">
                  A data de lançamento é obrigatória.
                </mat-error>
              </mat-form-field>
            </div>

          </div>
          <div>
            <button mat-raised-button color="primary" type="submit">{{ livro ? 'Salvar Alterações' : 'Cadastrar'
              }}</button>
            <button mat-button type="button" (click)="onCancel()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
