<div class="container-cards">
  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-group"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">Clientes Cadastrados:</mat-card-title>
        <mat-card-subtitle>Cadastros de hoje:</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-book"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">Livros Cadastrados:</mat-card-title>
        <mat-card-subtitle>Cadastros de hoje:</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-money"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">Vendas:</mat-card-title>
        <mat-card-subtitle>Atualização recente:</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-checkbook"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">Empréstimos:</mat-card-title>
        <mat-card-subtitle>Atualização recente:</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-thumbdown"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">Devoluções em Atraso:</mat-card-title>
        <mat-card-subtitle>Atualização recente:</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-card-lenght">
    <mat-card-header>
      <div class="icone-warning"></div>
      <div class="container-texto">
        <mat-card-title class="mat-card-title">Empréstimos com vencimento menor que 7 dias:</mat-card-title>
        <mat-card-subtitle>Atualização recente:</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>
</div>
